server.json
[{"id":"4f7a7d17.b08584","type":"bean","name":"Bean_2","uuid":"","connectiontype":"constant","connectiontimeout":"60"},{"id":"7717ac4c.88e854","type":"bean","name":"Bean_1","uuid":"","connectiontype":"constant","connectiontimeout":"0"},{"id":"2a11e8fc.d5ee18","type":"exec","command":"node ~/EcoStream/Node-red-server/parse.js","append":"Bean_2","useSpawn":false,"name":"cloud_upload_2","x":497,"y":258,"z":"3b592b32.c4a6d4","wires":[["e6239c19.19dc6"],["e6239c19.19dc6"],[]]},{"id":"e6239c19.19dc6","type":"function","name":"log","func":"console.log(msg.payload);\nreturn msg;","outputs":1,"x":785,"y":327,"z":"3b592b32.c4a6d4","wires":[[]]},{"id":"4d3be4c5.b2c41c","type":"exec","command":"node ~/EcoStream/Node-red-server/parse.js","append":"Bean_1","useSpawn":false,"name":"cloud_upload_1","x":506,"y":436,"z":"3b592b32.c4a6d4","wires":[["e6239c19.19dc6"],["e6239c19.19dc6"],[]]},{"id":"81db1095.7e24f","type":"function","name":"data_filter_2","func":"\nreturn msg;","outputs":1,"x":298,"y":257,"z":"3b592b32.c4a6d4","wires":[["2a11e8fc.d5ee18"]]},{"id":"c3591e2a.3ca6e","type":"function","name":"data_filter_1","func":"\nreturn msg;","outputs":1,"x":297,"y":437,"z":"3b592b32.c4a6d4","wires":[["4d3be4c5.b2c41c"]]},{"id":"18fc65f6.e7039a","type":"bean serial","name":"","bean":"7717ac4c.88e854","newline":"\\n","bin":"false","out":"char","addchar":false,"x":81,"y":438,"z":"3b592b32.c4a6d4","wires":[["c3591e2a.3ca6e"]]},{"id":"7bd50a36.842af4","type":"bean serial","name":"","bean":"4f7a7d17.b08584","newline":"\\n","bin":"false","out":"char","addchar":false,"x":94,"y":257,"z":"3b592b32.c4a6d4","wires":[["81db1095.7e24f"]]}]