server.json
[{"id":"4f7a7d17.b08584","type":"bean","name":"Bean_2","uuid":"","connectiontype":"constant","connectiontimeout":"60"},{"id":"a2f5880a.5d0a78","type":"bean serial","name":"Bean_1","bean":"4f7a7d17.b08584","newline":"\\n","bin":"false","out":"char","addchar":false,"x":122,"y":436,"z":"3b592b32.c4a6d4","wires":[["c3591e2a.3ca6e"]]},{"id":"2a11e8fc.d5ee18","type":"exec","command":"node ~/EcoStream/Node-red-server/parse.js","append":"Bean_2","useSpawn":false,"name":"cloud_upload","x":497,"y":258,"z":"3b592b32.c4a6d4","wires":[["e6239c19.19dc6"],["e6239c19.19dc6"],[]]},{"id":"e6239c19.19dc6","type":"function","name":"log","func":"console.log(msg.payload);\nreturn msg;","outputs":1,"x":785,"y":327,"z":"3b592b32.c4a6d4","wires":[[]]},{"id":"b04ebf12.4fb14","type":"bean serial","name":"Bean_2","bean":"4f7a7d17.b08584","newline":"\\n","bin":"false","out":"char","addchar":false,"x":121,"y":256,"z":"3b592b32.c4a6d4","wires":[["81db1095.7e24f"]]},{"id":"4d3be4c5.b2c41c","type":"exec","command":"node ~/EcoStream/Node-red-server/parse.js","append":"Bean_1","useSpawn":false,"name":"cloud_upload","x":506,"y":436,"z":"3b592b32.c4a6d4","wires":[["e6239c19.19dc6"],["e6239c19.19dc6"],[]]},{"id":"81db1095.7e24f","type":"function","name":"data_filter","func":"\nreturn msg;","outputs":1,"x":298,"y":257,"z":"3b592b32.c4a6d4","wires":[["2a11e8fc.d5ee18"]]},{"id":"c3591e2a.3ca6e","type":"function","name":"data_filter","func":"\nreturn msg;","outputs":1,"x":297,"y":437,"z":"3b592b32.c4a6d4","wires":[["4d3be4c5.b2c41c"]]}]